<div class="container">
    <div class="row">
        <form class="form-contact col-md-6" role="form">
            <h2>济平社区欢迎您的反馈</h2>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="邮箱" required="" >
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="主题" required="" >
            </div>
            <div class="form-group">
                <textarea class="form-control" required="" placeholder="留言" ></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
            </div>
        </form>
        <div class="col-md-4 col-md-offset-2">
            <h2>地址</h2>
            <address>
                <strong>济平社区</strong><br>
                123 北京<br>
                010 - 88888888
            </address>
        </div>
    </div>
</div>

<hr>

<footer>
    <div class="container">
        <p>&copy; 济平社区 {% now 'Y.m' %}</p>
    </div>
</footer>