<html>
  <head>
      <title>test</title>
      <script src="/static/js/jquery-3.1.1.min.js"></script>
      <script>
            function myFunction() {
                $("#haa").attr("style","color:red")
                $("h1").append(" {{ good }}");
            }
            $(document).ready(myFunction);
      </script>
  </head>

  <body>
    <h1 id="haa">{{ good }}</h1>
    <p>
        <a href="dir">查看目录</a>
        <a href="formExample">表单例子</a>
        <a href="accessDB">访问库</a>
        <a href="accessDB_oo">访问库(oo)</a>
        <a href="ajaxExam">ajax例子</a>
    </p>
  </body>
</html>